

.image{

  margin-bottom: 80px;

  height: 500px;

  width: 400px;

}
.container{

  padding: 10px 5px 22px 15px;

  display: flex;

  justify-content: center;

 



  position: relative;


  left:200px;

  bottom:  400px;

}

.inputText{


display: flex;

bottom: 100px;

padding: 10px 8px 20px 10px;

border-radius: 2px ;

text-align: center;


}

.btnBoton{

  padding: 10px 50px;

  margin-left: 5px;

  background-color: violet;

  color: white;




}